* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  background: url("a.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  color: white;
}
.navbar {
  color: white;
  position: static;
}
.navbar-brand {
  font-size: 2rem;
  transition: 0.4s ease-in-out;
  margin-left: 20px;
  color: white;
}
.navbar-brand:hover,
.navbar-brand:focus {
  color: #eec2c2;
}
.navbar-toggler {
  background-color: white;
  margin-right: 20px;
}
.nav-link {
  transition: 0.4s ease-in-out;
  font-size: 1.2rem;
  margin: 0 20px;
  color: white;
}
.nav-link:active,
.nav-link:hover,
.nav-link:focus {
  color: #eec2c2;
}

/* main-section */
.main-section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 88vh;
}

.main-section .col {
  color: white;
  font-size: 5.5vw;
  text-align: center;
}
.col {
  margin-top: 20px;
  /* border: 2px solid white; */
  text-align: left;
  margin-left: 30px;
}

@keyframes fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fade 2s ease-in-out forwards;
  display: inline-block;
  opacity: 0;
  font-size: 5.5rem;
  font-weight: 700;
  margin-right: -10px;
}

/* set different delay for each letter */
.fade-in:nth-child(1) {
  animation-delay: 0.7s;
}

.fade-in:nth-child(2) {
  animation-delay: 0.8s;
}

.fade-in:nth-child(3) {
  animation-delay: 0.9s;
}
.fade-in:nth-child(4) {
  animation-delay: 1s;
}

.fade-in:nth-child(5) {
  animation-delay: 1.1s;
}

.fade-in:nth-child(6) {
  animation-delay: 1.2s;
}
.fade-in:nth-child(7) {
  animation-delay: 1.3s;
}

.fade-in:nth-child(8) {
  animation-delay: 1.4s;
}

.main-section p {
  margin-right: 20px;
  animation: faded 4s ease-in-out forwards;
  opacity: 0;
  font-size: 1rem;
  margin-top: 20px;
  padding: 0 15%;
}
@keyframes faded {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.main-section h1:hover {
  transform: skewY(5deg);
}

/* services */
#services {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#services .card {
  background-color: white;
  margin: 25px;
  width: 16rem;
  height: 16rem;
  color: black;
  text-align: center;
  transition: 0.5s ease-in-out;
}
#services .card:hover {
  box-shadow: 4px 5px 10px 0px pink;
}
#services .row {
  justify-content: space-evenly;
}
#services .card-body {
  padding: 10px;
}
#services .card-link {
  text-decoration: none;
  color: white;
  transition: 0.6s ease-in-out;
  padding: 10px 20px;
  background-color: #f675a8;
  border-radius: 30px;
}
#services .card-link:last-child {
  padding: 10px 11px;
}
#services .card-link:hover {
  background-color: #714288;
  color: white;
}
#servies .size1 {
  text-align: center;
  margin: 10px;
}

/* pricing */
.pricing-section .card {
  width: 18rem;
}
.size {
  text-align: center;
  font-size: 3rem;
}
#pricing {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  color: white;
  flex-direction: column;
  height: 100vh;
}

.card-pricing .list-unstyled li {
  padding: 0.5rem 0;
  color: #6c757d;
}
.pricing-section .row {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-pricing {
  margin: 0 2%;
}
.card-pricing:hover {
  box-shadow: 0px 4px 8px 0px black;
}

.contact-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.contact-first {
  margin-left: -15%;
}
.contact-second {
  margin-left: 5%;
}
.contact-second h1:hover {
  color: #eec2c2;
  cursor: pointer;
}

.footer {
  text-align: center;
  margin-top: 40px;
  padding: 20px;
  font-size: 1.3rem;
}

.btn:hover {
  background-color: blue;
}
